# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAWNwA5QGBug-3EknweIASBITfT9vM2lfU
VITE_FIREBASE_AUTH_DOMAIN=munees-ed613.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=munees-ed613
VITE_FIREBASE_STORAGE_BUCKET=munees-ed613.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=61722437820
VITE_FIREBASE_APP_ID=1:61722437820:web:99986341830e8dcf42c8b9
VITE_FIREBASE_MEASUREMENT_ID=G-275EL3FT2V

# API Configuration
VITE_API_URL=http://localhost:5000/api
